.App {
    font-family: 'Lato', sans-serif;
    color: #979Eb3;
}
.recent-results {
	display: flex;
}
.bottom-book-added {
	background: #BFEC91;   
	position: fixed;
    right: 0;
    bottom: 0;
    width: 100px;
}