.recent {
	text-align: center;
	height: 100vh;
	min-width: 200px;
	border-right: 2px solid #F4F5F7;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}
.recent-searches {
	text-align: left;
	padding-left: 50px;
	line-height: 2em;
}
.recent-searches:hover {
	color: green;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}