.loadingGif {
	margin: auto;
}
.display-container {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.single-container {
	padding: 30px;
	width: 180px;
}
.image {
	width: 180px;
	height: 268px;
	border: 1px solid grey;
	background: transparent url("../public/loading.gif") center no-repeat;
}
.display-title {
	display: flex;
	justify-content: space-between;
}