.loadingGif {
	margin: auto;
}
.display-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 30px;
}
.single-container {
	margin: 20px 30px;
	width: 180px;
	position: relative;
}
.image {
	width: 180px;
	height: 268px;
	background: transparent url("../public/loading.gif") center no-repeat;
}
.display-title {
	display: flex;
	justify-content: space-between;
}
.single-container:after {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  content: 'Add this book';
  color: white;
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 0.3s;
}

.single-container:hover:after {
  opacity: 1;
}
.single-container:active:after {
  opacity: 0.8;
}
.my-book-class {
	padding: 0px 50px;
}